*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header, main, footer {
    margin: 1rem; 
}

header{
    background-color: blue;
}

h1{
    text-align: center;
}

footer{
    text-align: center;
    background-color: blue;
    border: 1px solid #777;
}